  @define-mixin ic-1_tv {
    background-position: -384px -258px;
    width: 45px;
    height: 45px;
    background-size: 438px 389px;
  }
  @define-mixin ic-5_tv {
    background-position: -384px -209px;
    width: 45px;
    height: 45px;
    background-size: 438px 389px;
  }
  @define-mixin ic-adv {
    background-position: 0px 0px;
    width: 95px;
    height: 111px;
    background-size: 438px 389px;
  }
  @define-mixin ic-adv2 {
    background-position: 0px -115px;
    width: 95px;
    height: 54px;
    background-size: 438px 389px;
  }
  @define-mixin ic-adv3 {
    background-position: -291px 0px;
    width: 89px;
    height: 39px;
    background-size: 438px 389px;
  }
  @define-mixin ic-adv4 {
    background-position: -195px 0px;
    width: 92px;
    height: 90px;
    background-size: 438px 389px;
  }
  @define-mixin ic-adv5 {
    background-position: -99px 0px;
    width: 92px;
    height: 95px;
    background-size: 438px 389px;
  }
  @define-mixin ic-adv6 {
    background-position: -99px -115px;
    width: 86px;
    height: 52px;
    background-size: 438px 389px;
  }
  @define-mixin ic-adv7 {
    background-position: -60px -298px;
    width: 95px;
    height: 24px;
    background-size: 438px 389px;
  }
  @define-mixin ic-adv8 {
    background-position: 0px -213px;
    width: 95px;
    height: 40px;
    background-size: 438px 389px;
  }
  @define-mixin ic-bilboard_adv {
    background-position: -291px -43px;
    width: 57px;
    height: 57px;
    background-size: 438px 389px;
  }
  @define-mixin ic-column_adv {
    background-position: -384px -91px;
    width: 31px;
    height: 65px;
    background-size: 438px 389px;
  }
  @define-mixin ic-dance_radio {
    background-position: -189px -115px;
    width: 98px;
    height: 39px;
    background-size: 438px 389px;
  }
  @define-mixin ic-dorozhnoe_radio {
    background-position: 0px -298px;
    width: 56px;
    height: 45px;
    background-size: 438px 389px;
  }
  @define-mixin ic-hit_radio {
    background-position: -99px -213px;
    width: 95px;
    height: 37px;
    background-size: 438px 389px;
  }
  @define-mixin ic-ic1 {
    background-position: -291px -188px;
    width: 51px;
    height: 51px;
    background-size: 438px 389px;
  }
  @define-mixin ic-ic2 {
    background-position: -384px 0px;
    width: 54px;
    height: 41px;
    background-size: 438px 389px;
  }
  @define-mixin ic-ic3 {
    background-position: -384px -45px;
    width: 51px;
    height: 42px;
    background-size: 438px 389px;
  }
  @define-mixin ic-love_radio {
    background-position: -384px -160px;
    width: 45px;
    height: 45px;
    background-size: 438px 389px;
  }
  @define-mixin ic-ntv_tv {
    background-position: 0px -347px;
    width: 45px;
    height: 42px;
    background-size: 438px 389px;
  }
  @define-mixin ic-r1_tv {
    background-position: -123px -173px;
    width: 112px;
    height: 26px;
    background-size: 438px 389px;
  }
  @define-mixin ic-rock_radio {
    background-position: 0px -257px;
    width: 91px;
    height: 37px;
    background-size: 438px 389px;
  }
  @define-mixin ic-rr_radio {
    background-position: 0px -173px;
    width: 119px;
    height: 36px;
    background-size: 438px 389px;
  }
  @define-mixin ic-shanson_radio {
    background-position: -291px -146px;
    width: 80px;
    height: 38px;
    background-size: 438px 389px;
  }
  @define-mixin ic-soc {
    background-position: -95px -257px;
    width: 170px;
    height: 18px;
    background-size: 438px 389px;
  }
  @define-mixin ic-tvc_tv {
    background-position: -291px -104px;
    width: 81px;
    height: 38px;
    background-size: 438px 389px;
  }
