@import 'base/_base.scss';
@import 'base/_mixins.scss';
@import '_vars.scss';
@import '_fonts.scss';
@import '_sprite.scss';


// Common --
body {
  font-family: 'Roboto',sans-serif;

}

.wrapper {
  margin: 0 auto;
  max-width: em(1734);
  padding: 0 1em;
}

.ic {
  &:before {
    content: ' ';
    background: url(./../img/sprite.png) no-repeat;
    display: inline-block;
  }
}

.button {
  display: inline-block;
  vertical-align: top;
  font-size: em(14);
  padding: 1.55em 5.6em;
  border-radius: 5em;
  text-decoration: none;
  color: $b;

  &--orange {
    background: $orange;
  }

  &--white {
    background: $w;
  }

  &--white2 {
    background: $w;
    color: $blue;
    padding: * 3em;
  }

  &--border {
    border: 2px solid;
    color: $w;
  }

}
// -- Common

// Header --
.header {
  text-align: center;
  background: url(./../img/header_back.jpg) no-repeat 50% 50%/cover;
  height: 100vh;
  padding: 0 4em;

  @media screen and (width < 1410px) {
    font-size: em(14);
  }

  @media screen and (width < 1024px) {
    font-size: em(10);
  }

  &__menu {
    text-align: right;
    padding-top: 5vh;
    position: relative;

    @media screen and (width<1024px) {
      &.active {
        .menu {
          &__button {
            transform: rotate(90deg);
            & ~ .menu {
              display: block;
            }
          }
        }
        & ~ .header {
          &__title,
          &__desc {
            opacity: .2;
          }
        }
      }
    }

    .menu {
      display: inline-block;
      padding: 0;

      @media screen and (width<1024px) {
        display: none;
        position: 100% 0 * *  absolute;
        z-index: 2;
      }

      &__button {

        @media screen and (width<1024px) {
          display: block;
          size: 2.5em 1.7em;
          position: relative;
          transition: .5s;
          display: flex;
          margin-left: auto;
          flex-direction: column;
          justify-content: space-between;
          hr {
            margin: 0;
            border: none;
            size: 100% 3px;
            background: $w;
            left: 0;
          }
        }

        @media screen and (width>=1024px) {
          display: none;
        }

      }

      &__box {
        position: relative;
        list-style: none;

        @media screen and (width<1024px) {
          text-align: left;
        }

        @media screen and (width>=1024px) {
          display: inline-block;
          vertical-align: top;
          &:not(:first-child) {
            margin-left: 1.7em;
          }
        }

        &:first-child {
          &:hover {
            z-index: 2;
            .submenu {
              display: block;
            }
          }

          .menu__link {
            &:after {
              content: ' ';
              display: inline-block;
              vertical-align: middle;
              border-style: solid;
              border-width: 0 em(2) em(2) 0;
              size: .5em;
              color: inherit;
              transform: rotate(45deg) translate(-40%,-40%);
              margin-left: .5em;
            }
            &:hover {
              .submenu {
                display: block;
              }
            }
          }

        }
      }

      &__link{
        display: block;
        color: $w;
        font-size: em(14);
        letter-spacing: .7px;
        @media screen and (width<1024px) {
          padding: .5em 0;
        }
      }

    }

    .submenu {
      display: none;
      margin: 0;
      position: 100% 0 * * absolute;
      background: $w;
      list-style: none;
      text-align: left;
      padding: 1.2em;
      width: 91%;

      &__box {
        &:not(:first-child) {
          margin-top: 1em;
        }
      }

      &__link {
        display: block;
        padding: .2em 0;
        font-style: italic;
        text-transform: uppercase;
        font-size: em(14);
        text-decoration: none;
        color: inherit;
      }
    }
  }

  &__title {
    margin: 34.5vh 0 0;
    font-size: em(62)/1;
    color: $w;

    @media screen and (width<1024px) {
      font-size: em(40);
    }

  }

  &__desc {
    margin: .5vh 0 0;
    font-size: em(43);
    color: $w;

    @media screen and (width<1024px) {
      font-size: em(20);
    }

  }

  .button {
    margin-top: 4vh;
  }

}
// -- Header

// BlockAdvantage --
.blockAdvantage {
  padding: 3.5em 0 4em;
  .wrapper {

    @media screen and (width>=420px) {
      padding-left: 6em;
    }

    @media screen and (width>=980px) {
      display: flex;
      justify-content: space-between;
    }

  }
  .box {
    position: relative;

    @media screen and (width<980px) {
      margin: 0 auto 2em;
      max-width: 500px;
    }

    @media screen and (width>=980px) {
      width: 22%;
    }

    &:before {
      content: ' ';
      display: inline-block;
      background: url(../img/sprite.png) no-repeat;

      @media screen and (width>420px) {
        position: 0 105% * * absolute;
      }

    }


    &--1 {
      &:before { @mixin ic-ic1; }
    }

    &--2 {
      margin: 0 8.5%;
      &:before { @mixin ic-ic2; }
    }

    &--3 {
      &:before { @mixin ic-ic3; }
    }

    &__title {
      font-size: em(18);
      margin: .3em 0 0;
    }

    &__text {
      padding: 0;
      margin: .4em 0 0;
      line-height: 1.55;
    }

  }
}
// -- BlockAdvantage

// BlockStats --
.blockStats {
  text-align: center;
  background: $orange;
  padding-bottom: .2em;

  .wrapper {
    display: flex;
    justify-content: space-between;
    @media screen and (width<1200px) {
      flex-wrap: wrap;
    }
  }

  .box {
    text-align: left;
    padding-top: 2.7em;

    @media screen and (width<1200px) {
      &--right,
      &--left {
        width: 100%;
      }
    }

    @media screen and (width>=1200px) {
      &--left {
        width: 44%;
      }
      &--right {
        width: 44%;
        min-width: em(700);
      }
    }

    &__title {
      margin: 0;
      font-weight: normal;
      font-size: 1.52em;
    }

    &__text {
      padding-top: 1.2em;
      font-size: em(14)/1.85;
      p {
        margin-bottom: 1.5em;
      }
    }

  }

  .graphs {
    padding: 2.1em 0 0;
    list-style: none;
    text-align: center;
    margin: 0;

    .graph {
      size: 12.5em;
      margin: 0 auto;
      border-radius: 50%;
      position: relative;

      &:before {
        content: ' ';
        position: 0 absolute;
        border: 2.2em solid $w;
        border-radius: 50%;
      }

      &__box {
        display: inline-block;
        vertical-align: top;

        @media screen and (width<780px) {
          margin-bottom: 1em;
          max-width: em(300);
          padding: 0 1em;
        }

        @media screen and (width>=780px) {
          width: 30%;
        }

      }

      &__text {
        position: 50% * * 50% absolute;
        transform: translate(-50%,-50%);
        font-size: 1.5em;
        font-weight: bold;
        z-index: 2;
        &:after {
          content: '%';
        }
      }

      &__bar {
        position: 50% * * 50% absolute;
        transform: translate(-50%,-50%) rotate(-90.1deg);
        border-radius: 50%;
        fill: none;
        stroke-width: 90;
        stroke-dasharray: 0 630;
        size: 100%;
        z-index: 2;

        &--blue { stroke: $blue; }

        &--red { stroke: $red; }

        &--blue2 { stroke: $blue2; }

      }

      &--stat { &:before { color: $blue; } }

      &--sale { &:before { color: $red; } }

      &--clients { &:before { color: $blue2; } }

    }
  }
}
// -- BlockStats

// BlockCarries --
.blockCarries {
  padding-top: 2.9em;
  display: block!important;

  .title {
    font-size: 1.5em;
    color: $black;
    margin-bottom: .5em;
  }

  .slider {

    &__nav {
      padding: 0;
      margin: 0;
      list-style: none;

      @media screen and (width<1300px) {
        text-align: center;
      }

      @media screen and (width>=1300px) {
        padding: 0 2.2em 2.2em 0;
        display: flex;
        justify-content: space-between;
      }

    }

    .slide {

      &__box {
        &:hover {
          .slide__desc,
          .brace {
            color: $blue3;
          }
        }

        @media screen and (width<1300px) {
          display: inline-block;
          vertical-align: top;
          margin: 1em;
        }

        &--tv {

          @media screen and (width>=1300px) {
            width: 31.2%;
          }

          .slide__cont {
            &:nth-child(1) { .ic { &:before { @mixin ic-1_tv; } } }
            &:nth-child(2) { .ic { &:before { @mixin ic-r1_tv; } } }
            &:nth-child(3) { .ic { &:before { @mixin ic-ntv_tv; } } }
            &:nth-child(4) { .ic { &:before { @mixin ic-tvc_tv; } } }
            &:nth-child(5) { .ic { &:before { @mixin ic-5_tv; } } }
          }

        }

        &--radio {

          @media screen and (width>=1300px) {
            width: 52%;
          }

          .slide__cont {
            &:nth-child(1) { .ic { &:before { @mixin ic-love_radio; } } }
            &:nth-child(2) { .ic { &:before { @mixin ic-rock_radio; } } }
            &:nth-child(3) { .ic { &:before { @mixin ic-rr_radio; } } }
            &:nth-child(4) { .ic { &:before { @mixin ic-dorozhnoe_radio; } } }
            &:nth-child(5) { .ic { &:before { @mixin ic-shanson_radio; } } }
            &:nth-child(6) { .ic { &:before { @mixin ic-hit_radio; } } }
            &:nth-child(7) { .ic { &:before { @mixin ic-dance_radio; } } }
          }
        }

        &--advertising {

          @media screen and (width>=1300px) {
            width: 8.5%;
          }

          .slide__cont {
            &:nth-child(1) { .ic { &:before { @mixin ic-bilboard_adv; } } }
            &:nth-child(2) { .ic { &:before { @mixin ic-column_adv; } } }
          }
        }
      }


      &__cont {

        @media screen and (width<1300px) {
          margin: 1em;
        }

        .ic {
          display: block;
          filter: grayscale(100%);
          opacity: .65;
          transition: .3s;
          margin: 0 .5em;
          &.active, 
          &:hover {
            filter: grayscale(0);
            opacity: 1
          }
        }
      }

      &__desc {
        padding-top: 1.5em;
        text-align: center;
        text-transform: uppercase;
        font-size: em(11);
        color: $gray;
      }

      &__links {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        min-height: em(105);

        @media screen and (width<1300px) {
          justify-content: center;
          flex-wrap: wrap;
        }

        @media screen and (width>=1300px) {
          justify-content: space-between;
        }

      }
    }

    .brace {
      margin-top: 2em;
      display: flex;
      color: $gray;

      &__left {
        position: relative;
        width: 50%;
        border-color: inherit;

        &:before,
        &:after {
          content: ' ';
          position: absolute;
          border-style: solid;
          border-color: inherit;
          display: block;
          size: 55% em(9);
          box-sizing: border-box;
        }

        &:before {
          bottom: -1px;
          left: 0;
          border-width: 0 0 1px 1px;
          border-radius: 0 0 0 em(9);
        }

        &:after {
          top: 0;
          right: 0;
          border-width: 1px 1px 0 0;
          border-radius: 0 em(9) 0 0;
        }

      }

      &__right {
        position: relative;
        width: 50%;
        color: inherit;

        &:before,
        &:after {
          content: ' ';
          position: absolute;
          border-style: solid;
          border-color: inherit;
          display: block;
          size: 55% em(9);
          box-sizing: border-box;
        }

        &:before {
          top: 0;
          left: 0;
          border-width: 1px 0 0 1px;
          border-radius: em(9) 0 0;
        }

        &:after {
          bottom: -1px;
          right: 0;
          border-width: 0 1px 1px 0;
          border-radius: 0 0 em(9) 0;
        }
      }
    }

    &__container {
      background: $red;

      .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (width<1280px) {
          flex-wrap: wrap;
          padding: 0;
        }
      }

      .info {
        display: flex;
        padding: 1em 0;
        @media screen and (width<1280px) {
          flex-wrap: wrap;
          padding: * 1em;
          &__content {
            padding: 2em 0;
          }
        }
        @media screen and (width>=1280px) {
          width: 55%;
          &__content {
            padding: 0 2em;
          }
        }
        &__title {
          margin: 0;
          color: $w;
        }
        &__text {
          p {
            line-height: 1.5;
            margin-bottom: 1.7em;
            color: $w;
          }
        }
        .button {
          background: $w;
          padding: 1.55em 3em;
        }
      }

      .image {
        img {
          max-width: 100%;
        }
      }
    }
  }
}
// -- BlockCarries

// BlockClients --
.blockClients {
  padding: 2.3em 0 1.3em;

  .title {
    font-size: 1.5em;
    color: $black;
    margin-bottom: .5em;
  }

  .list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;

    @media screen and (width<1024px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @media screen and (width>=1024px) {
      justify-content: space-between;
    }

    &__box {
      margin: 2em 0;

      @media screen and (width<1024px) {
        margin: * 2em;
      }

      .ic {
        display: block;
      }

      &:nth-child(1) { .ic { &:before { @mixin ic-adv; } } }
      &:nth-child(2) { .ic { &:before { @mixin ic-adv2; } } }
      &:nth-child(3) { .ic { &:before { @mixin ic-adv3; } } }
      &:nth-child(4) { .ic { &:before { @mixin ic-adv4; } } }
      &:nth-child(5) { .ic { &:before { @mixin ic-adv5; } } }
      &:nth-child(6) { .ic { &:before { @mixin ic-adv6; } } }
      &:nth-child(7) { .ic { &:before { @mixin ic-adv7; } } }
      &:nth-child(8) { .ic { &:before { @mixin ic-adv8; } } }
    }
  }
}
// -- BlockClients

// BlockContacts --
.blockContacts {
  text-align: center;
  position: relative;

  .container {
    position: relative;
    z-index: 2;
    background: color($blue4 a(75%));
    padding: 4.8em 1em 6.1em;
  }

  .text {
    color: $w;
    font-size: em(15)/1.5;
    margin-bottom: 1em;
    @media screen and (width < 780px) {
      br {
        display: none;
      }
    }
  }

  .button {
    margin: 1em 1em 0;
    display: inline-block
  }

  .map {
    position: 0 absolute;
  }
}
// -- BlockContacts

// Footer --
.footer {
  background: $black2;

  @media screen and (width>=1024px) {
    .wrapper {
      padding-left: 13em;
    }
  }

  .ic {
    display: inline-block;
    padding: 1.25em 0;
    &:before{ @mixin ic-soc; }
  }
}
// -- Footer
