{{#sprites}}
  @define-mixin ic-{{name}} {
    background-position: {{px.offset_x}} {{px.offset_y}};
    width: {{px.width}};
    height: {{px.height}};
    background-size: {{px.total_width}} {{px.total_height}};
  }
{{/sprites}}
