doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Site
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(type="text/javascript" src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU")
  body
    // Header
    header.header
      // Nav
      nav.header__menu
        a.menu__button
          hr
          hr
          hr
        ul.menu
          li.menu__box
            a.menu__link РЕКЛАМНЫЕ НОСИТЕЛИ
            ul.submenu
              li.submenu__box
                a.scrollto.submenu__link(href="#blockAdv") Первый канал
                a.scrollto.submenu__link(href="#blockAdv") Россия 1
                a.scrollto.submenu__link(href="#blockAdv") Нтв
                a.scrollto.submenu__link(href="#blockAdv") Твц
                a.scrollto.submenu__link(href="#blockAdv") Пятый канал
              li.submenu__box
                a.scrollto.submenu__link(href="#blockAdv") Love радио
                a.scrollto.submenu__link(href="#blockAdv") Радио 40
                a.scrollto.submenu__link(href="#blockAdv") Радио России
                a.scrollto.submenu__link(href="#blockAdv") Дорожное радио
                a.scrollto.submenu__link(href="#blockAdv") Радио шансон
                a.scrollto.submenu__link(href="#blockAdv") Хит фм
                a.scrollto.submenu__link(href="#blockAdv") DFM
              li.submenu__box
                a.scrollto.submenu__link(href="#blockAdv") Светодиодные экраны
                a.scrollto.submenu__link(href="#blockAdv") Пиларсы
          li.menu__box
            a.menu__link РЕКЛАМНОЕ СОПРОВОЖДЕНИЕ
          li.menu__box
            a.menu__link РЕКЛАМОДАТЕЛИ О НАС
          li.menu__box
            a.menu__link ОБРАЗЦЫ РОЛИКОВ
          li.menu__box
            a.menu__link КОНТАКТЫ 

      h1.header__title МАКСИМАЛЬНО ЭФФЕКТИВНАЯ РЕКЛАМА
      p.header__desc Лучшие решения для Вашего бизнеса
      a.button.button--orange ПОДРОБНЕЕ

    // blockAdvantage
    section.blockAdvantage
      .wrapper
        .box.box--1
          h2.box__title Собственное производство
          p.box__text Является эксклюзивным правообладателем рекламного времени на пяти телеканалах и шести радиостанциях.  Нам принадлежат три Светодиодных экрана и 75 поверхностей наружной рекламы  расположенных  в центральной части города. 
        .box.box--2
          h2.box__title Сотрудничество
          p.box__text Является эксклюзивным правообладателем рекламного времени на пяти телеканалах и шести радиостанциях.  Нам принадлежат три Светодиодных экрана и 75 поверхностей наружной рекламы  расположенных  в центральной части города. 
        .box.box--3
          h2.box__title Компания
          p.box__text Является эксклюзивным правообладателем рекламного времени на пяти телеканалах и шести радиостанциях.  Нам принадлежат три Светодиодных экрана и 75 поверхностей наружной рекламы  расположенных  в центральной части города. 

    // blockStats
    section.blockStats
      .wrapper
        .box.box--left
          h2.box__title О компании
          .box__text
            p «промо-М»  является эксклюзивным правообладателем рекламного времени на пяти телеканалах и шести радиостанциях.  Нам принадлежат три Светодиодных экрана и 75 поверхностей наружной рекламы  расположенных  в центральной части города.  
            p Данный перечень носителей позволяет  индивидуально подходить ко всем запросам и находить максимально эффективные решения для продвижения Вашей компании. Все ресурсы холдинга и опыт сотрудников будут направлены на достижение Ваших целей. 
        .box.box--right
          h2.box__title Статистика за месяц:
          ul.graphs
            li.graph__box
              div.graph.graph--stat
                span.graph__text(data-percent='17') 0
                svg.graph__bar.graph__bar--blue
                  circle(r="100" cx="100" cy="100")
              p.graph__desc Статистика
            li.graph__box
              div.graph.graph--sale
                span.graph__text(data-percent='62') 0
                svg.graph__bar.graph__bar--red
                  circle(r="100" cx="100" cy="100")
              p.graph__desc Продаж в апреле
            li.graph__box
              div.graph.graph--clients
                span.graph__text(data-percent='95') 0
                svg.graph__bar.graph__bar--blue2
                  circle(r="100" cx="100" cy="100")
              p.graph__desc Столько клиентов заказывают  рекламную компанию повторно

    // blockCarriers
    section.blockCarries#blockAdv
      .wrapper
        h2.title Наши носители:
        .slider
          ul.slider__nav
            li.slide__box.slide__box--tv
              ul.slide__links
                li.slide__cont
                  a.ic(data-href="0")
                li.slide__cont
                  a.ic(data-href="1")
                li.slide__cont
                  a.ic(data-href="2")
                li.slide__cont
                  a.ic(data-href="3")
                li.slide__cont
                  a.ic(data-href="4")
              .brace
                span.brace__left
                span.brace__right
              p.slide__desc телевидение
            li.slide__box.slide__box--radio
              ul.slide__links
                li.slide__cont
                  a.ic(data-href="5")
                li.slide__cont
                  a.ic(data-href="6")
                li.slide__cont
                  a.ic(data-href="7")
                li.slide__cont
                  a.ic(data-href="8")
                li.slide__cont
                  a.ic(data-href="9")
                li.slide__cont
                  a.ic(data-href="10")
                li.slide__cont
                  a.ic(data-href="11")
              .brace
                span.brace__left
                span.brace__right
              p.slide__desc радио
            li.slide__box.slide__box--advertising
              ul.slide__links
                li.slide__cont
                  a.ic(data-href="12")
                li.slide__cont
                  a.ic(data-href="13")
              .brace
                span.brace__left
                span.brace__right
              p.slide__desc наружная реклама
      .slider__container
        .wrapper

    // blockClients
    section.blockClients
      .wrapper
        h2.title Наши рекламодатели
        ul.list
          li.list__box
            a.ic
          li.list__box
            a.ic
          li.list__box
            a.ic
          li.list__box
            a.ic
          li.list__box
            a.ic
          li.list__box
            a.ic
          li.list__box
            a.ic
          li.list__box
            a.ic

    // blockContacts
    .blockContacts
      #map.map
      .container
        p.text Заказывая рекламу в Калуге в «Интервидео», вы можете быть уверены в качестве рекламных услуг, <br>которые обязательно принесут нужный результат.
        p.text Остались вопросы?
        a.button.button--white2 НАПИСАТЬ СООБЩЕНИЕ
        a.button.button--border КОНТАКТЫ

    // Footer
    footer.footer
      .wrapper
        a.ic



























