.info
  .info__logo
    img(src="./img/love_radio.png")
  .info__content
    h2.info__title ТВЦ
    .info__text
      p ТВЦ – это популярная, модная, динамичная и легкая музыка каждый день.<br> ТВЦ  входит в топ 20 самых популярных радиостанций.
      p Ядро аудитории 18 – 35 лет, преимущественно женщины.
      a.button(href="#") РАЗМЕСТИТЬ РЕКЛАМУ
.image
  img(src="./img/love_radio_img.jpg")

